apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: amq-streams-cdc-dev

resources:
  - namespace.yaml
  - ../../base

namePrefix: dev-

patches:
  # Reduce Kafka replicas for dev environment
  - patch: |-
      - op: replace
        path: /spec/kafka/replicas
        value: 1
      - op: replace
        path: /spec/zookeeper/replicas
        value: 1
      - op: replace
        path: /spec/kafka/config/offsets.topic.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/transaction.state.log.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/transaction.state.log.min.isr
        value: 1
      - op: replace
        path: /spec/kafka/config/default.replication.factor
        value: 1
      - op: replace
        path: /spec/kafka/config/min.insync.replicas
        value: 1
    target:
      kind: Kafka
      name: cdc-cluster
  
  # Faster data generation for dev
  - patch: |-
      - op: replace
        path: /data/producer.interval
        value: "30s"
    target:
      kind: ConfigMap
      name: data-producer-config

  # Lower replication for topics in dev
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: KafkaTopic

  # Fix ImageStream trigger to use prefixed name
  - patch: |-
      - op: replace
        path: /metadata/annotations/image.openshift.io~1triggers
        value: '[{"from":{"kind":"ImageStreamTag","name":"dev-data-producer:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"data-producer\")].image"}]'
    target:
      kind: Deployment
      name: data-producer

  # Fix BuildConfig output to use prefixed ImageStream name  
  - patch: |-
      - op: replace
        path: /spec/output/to/name
        value: "dev-data-producer:latest"
    target:
      kind: BuildConfig
      name: data-producer

labels:
  - pairs:
      environment: dev
    includeSelectors: false

